[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
"keyrings.cryptfile" = "*"
keyring = "*"
plexapi = {editable = true, ref = "sync", git = "https://github.com/andrey-yantsen/python-plexapi.git"}
humanfriendly = "*"
six = "*"

[dev-packages]
"flake8" = "*"
