[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
"keyrings.cryptfile" = "*"
keyring = "*"
plexapi = {editable = true, ref = "sync", git = "https://github.com/andrey-yantsen/python-plexapi.git"}

[dev-packages]

[requires]
python_version = "3.7"
